body {
    background: #9C835F;
    background-size:cover;
    height: 1024px ;
}

.bigsize {

    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 98px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #724C21;
}

.judul {

    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
text-transform: uppercase;
margin-top: 25px;
margin-left: 20px;


color: #F9B23D;
}

.playercom {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #000000;
}

.vs {

    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 144px;
line-height: 196px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #BD0000;
}



.pcompwin {

    /* tulisan hasil */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-top: 50px;

    color: #FFFFFF;

    transform: rotate(-30.98deg);

    /* rectangle */
    width : 271px;
    height: 166px;
    /* background: #4C9654; */
    border-radius: 10px;
    transform: rotate(-28.87deg);

}

.rockbg {
    background: #C4C4C4;
    border-radius: 30px;
    
}

.papperbg {
    background: #C4C4C4;
    border-radius: 30px;
   
}

.scissorbg {
    background: #C4C4C4;
    border-radius: 30px;
}

    





