
/* navbar */
.navbar {
    height: 90px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);

}

/* navbar-brand */

.navbar-brand {

    position: absolute;
    width: 77px;
    height: 33px;
    left: 107px;
    top: 28.7px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 0.1em;
    text-transform: uppercase;


    

    color: #FFFFFF;
}


/* nav-link */

.nav-link   {

    top: 37.61px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}


/* backgroundpage1 */
.backgroundpage1 {

    background-image: url(assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    margin-top: -41em;
}

/* h1 */

.landingtext1 {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;

    margin-top: 120px;
    
}

.landingtext2   {

    position: absolute;
    left: 33.84%;
    right: 29.66%;
    top: 46.23%;
    bottom: 50.89%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;

    top:444px
}

.landingtext3   {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #1A1917;
    text-transform: uppercase;

    margin-top: 150px;
}

/* thestory */

.thestory {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */
    
    text-align: justify;
    text-transform: uppercase;
    
    color: #FFFFFF;

    margin-top: -75px;
    
}

.scrolldown {
    
    display: block;
    margin: auto;

    margin-top: -30px;
    
}

/* backgroundpage2 */
.backgroundpage2 {

    background-image: url(assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
    margin-top: -42em;
}


.special {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;

    margin-top: 254px;


}
.thegames {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}


.special2 {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;

    margin-top: 254px;
    
    margin-left:-15px

}

.features {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    color: #FFFFFF;

    margin-left:-4px

}

/* timeline */


* {
    box-sizing: border-box;
  }


.timeline-object {
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.timeline-object.complete::after {
    content: '';
    display: block;
    position: absolute;
    
    width: 4px;
    height: 130px;
    background-color: #FFFFFF;
    
    left: 10px;
    top: 25px;
    transform: translateX(-50%);
  }

  .timeline-object.complete1::after {
    content: '';
    display: block;
    position: absolute;
    
    width: 4px;
    height: 1px;
    background-color: #FFFFFF;
    
    left: 10px;
    top: 25px;
    transform: translateX(-50%);
  }




.timeline-status1 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-top:-55px;
  
}

.timeline-status2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-top:-9px;
    
  }
  
  .timeline-status3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    border-style: outset;
    border-color: white;
    margin-top:-10px;
    
  } 

.timeline-object:not(.complete) .timeline-status1 .timeline-status2 {
    background: #ffffff;
    border: 4px solid #C5C5C5;
  }

  .timeline-content {
    margin-left: 15px;
  }
  
  .timeline-content h3 {
    
    
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;

    color: #FFB548;

  }

  .warnakuning {
    color: #FFB548;
  }
  
  .timeline-content span {
    color: #103B27;
    font-size: .9em;
    font-weight: bold;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;

    
  }

  /* .timeline-object:not(.complete) .timeline-content h3 {
    color: #FFFFFF;
  
  } */

.geser  {

    margin-top: -15px;
}

  /* background page 3 */
  .backgroundpage3 {

    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
    margin-top: -44em;
}


/* background page 4 */
.backgroundpage4 {
    background-image:radial-gradient(closest-side at 60% 55%, rgba(0,0,52,0) 0%,rgba(10,10,10,0.50) 50%, #000 95%), url(/assets/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    height : 960px;

}

.mycomp {

    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;

    color: #FFFFFF;

    margin-top: 145px;
}

.sysreqtitle {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 145;
}

.sysreq {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFB548;    
    text-transform: uppercase;
}

.sysreqtext {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */


    color: #FFFFFF;


}
.bordered {

    border-color: #979797;
    border-style: solid;
    border-width: 1px;

}

.gesermargin1 {

    margin-top: 54px;
}


/* background page 5 */

.backgroundpage5 {

    background-image: url("/assets/top-score-bg\(2\).png"), url(/assets/top-score-bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height : 960px;
}

.borderadius {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.geserkuning {

    margin-left: 5px ;
    margin-top: 5px;
}

.geserfoto {

    margin-top:-100px;

}

.namagamer  {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFB548;
}

.kerjagamer {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: justify;

    color: #FFFFFF;

    opacity: 0.5;
    margin-top:-20px;

}

.isikomen {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.tanggalkomen   {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;

}

.gesermargin2 {

   margin-top: 159px;
}

.seemore {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    text-transform: lowercase;

    color: #1A1917;
}

.gesermargin3 {

    margin-top: 30px;
}


.backgroundpage6 {

    background-image: url(/assets/newsletter.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 960px;
}

.email {

    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;
}


.staytouch  {

    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
/* identical to box height */

letter-spacing: 2px;

color: #FFFFFF;
}

.garis  {

    width: 100%;
    height: 0.9px;
    border:0 solid;
    opacity: 0.5;
    background-color: #FFFFFF;

}

.trademark  {

    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

.putih  {
    /* margin-top: -30px;
    margin-left: 20px; */
    color:#FFFFFF
}

.facebook {

    margin-left: 39em;
}

.twitter    {

    margin-left: 42em;
}

.youtube    {

    margin-left:45em;
}

.twitch {

    margin-left:48em;
}