<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE DATA</title>
</head>

<body>
  <form method="POST" action="/create">
    
    <label for="title">Username</label>
    <br>
    <input type="text" name="username"  />
    <br>

    <label for="body">Password</label>
    <br>
    <input type="text" name="password"  />
    <br>

    <label for="body">First Name</label>
    <br>
    <input type="text" name="firstname"  />
    <br>

    <label for="body">Last Name</label>
    <br>
    <input type="text" name="lastname"  />
    <br>
    
    <label for="body">Birthday</label>
    <br>
    <input type="date" name="birthday"  />
    <br>

    <label for="body">Gender</label>
    <br>
    <input type="text" name="gender"  />
    <br>

    <label for="body">Location</label>
    <br>
    <input type="text" name="location"  />
    <br>

    <label for="body">Phone Number</label>
    <br>
    <input type="number" name="phone"  />
    <br>

    <button type="submit">Submit</button>
  </form>
</body>

</html>
 