<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EDIT DATA</title>
</head>

<body>
  <form method="POST" action="/edit/<%= id %>/update">
    
    <label for="title">Username</label>
    <br>
    <input type="text" name="username" value="<%= username %>" />
    <br>

    <label for="body">Password</label>
    <br>
    <input type="text" name="password" value="<%= password %>" />
    <br>

    <label for="body">First Name</label>
    <br>
    <input type="text" name="firstname" value="<%= firstname %>" />
    <br>
    
    <button type="submit">Submit</button>
  </form>
</body>

</html>
 