<form method="POST" action="/users/register">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="Insert Username">
    <br>

    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Insert Password">
    <br>
    <button type="submit">Register</button>
</form>